<html>
<head>

</head>
<body></body>
<h1>
    Welcome to Barber Shop
</h1> </самый большой шрифт h1 >
<p><h3>We are open</h3>
</p>
<form action='/' method='POST'> </отправка данных атрибут действие способ отправки формы POT>
    Your name: <br/>
    <input type="text" name="user_name"/><br />
    Your phone: <br/>
    <input type='text' name='phone'/><br/> </расположение с новой строки br,   передача данных с типом текст>
    Date and time: <br/>
    <input type='text' name='date_time'/><br/>
    <input type='submit'/>
</form>

</body>
</html>
