<h2>Записаться</h2>
<p>На этой странице Вы можете записаться к нам в Barber Shop</p>
<form action="/visit" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input name="user_name" type="text" class="form-control" >
    <label for="exampleInputEmail1">Ваше номер телефона</label>
    <input name="phone" type="text" class="form-control" >
    <label for="exampleInputEmail1">Время записи</label>
    <input name="datetime" type="text" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>